html
    head
        title Legion Exp Calculator
        link(href='/styles/Layout.css', rel='stylesheet')
    body
        header
            ul(class="headerMenu")
                li(onclick = "location.href='/Calculator'")
                    a(href='/Calculator') Exp Calculator
                li(onclick = "location.href='http://pkmn-legion.deviantart.com'")
                    a(href='http://pkmn-legion.deviantart.com') Group Link
                li(onclick = "location.href='/Help'")
                    a(href='/Help') Help
        div(class="content")
            block content