extends BaseLayout

block content
    div(class='introText')
        |Hello! This is the Index page for pkmn-legion's exp calculator! This page doesn't do jack-squat, but maybe someday it'll be all fancy-like.